@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #7C3AED;
    --color-primary-dark: #5B21B6;
  }

  html {
    font-family: 'Noto Sans', system-ui, sans-serif;
  }

  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
